@{
    ViewData["Title"] = "Laser Treatment";
}

@section Styles {
    <link rel="stylesheet" href="~/css/facial_style.css" asp-append-version="true" />
}
  <h2 class="title">SERVICES</h2>

  <div class="facial-grid">
    <div class="facial-card">
      <img src="~/LerayImages/basic-facial.jpg" alt="PICO LASER TREATMENT" class="facial-img">
      <span class="price">₱899 / Session</span>
      <h3>PICO LASER TREATMENT (PER BODY PART)</h3>
      <p>A refreshing cleanse that revives your skin with essential care—perfect for a quick glow-up and maintenance.</p>
      <a href="/Home/Booking" class="book-btn">BOOK NOW</a>
    </div>

    <div class="facial-card">
    
   <img src="~/LerayImages/acne-facial.jpg" alt="CARBON LASER" class="facial-img">
      <span class="price">₱999 / Session</span>
      <h3>CARBON LASER (PER BODY PART)</h3>
      <p>Targets breakouts and clears impurities with deep cleansing and anti-inflammatory treatments for calmer skin.</p>
      <a href="/Home/Booking" class="book-btn">BOOK NOW</a>
    </div>

    <div class="facial-card">
      <img src="~/LerayImages/signature-facial.jpg" alt="MELASMA REMOVAL" class="facial-img">
      <span class="price">₱2,499 / Session</span>
      <h3>MELASMA REMOVAL</h3>
      <p>A luxurious multi-step facial combining premium 
 techniques for ultimate rejuvenation.</p>
      <a href="/Home/Booking" class="book-btn">BOOK NOW</a>
    </div>

    <div class="facial-card">
      <img src="~/LerayImages/pdt-light.jpg" alt="TATTOO REMOVAL" class="facial-img">
      <span class="price">₱499 / Session</span>
      <h3>TATTOO REMOVAL</h3>
      <p>A non-invasive LED therapy that calms inflammation, fights acne, and promotes cellular repair.</p>
      <a href="/Home/Booking" class="book-btn">BOOK NOW</a>
    </div>
   @section Scripts {
    <script src="~/js/Services_script.js" asp-append-version="true"></script>
}
