@{
    ViewData["Title"] = "Slimming Services";
}
@section Styles {
    <link rel="stylesheet" href="~/css/facial_style.css" asp-append-version="true" />
}
  <h2 class="title">SERVICES</h2>

  <div class="facial-grid">
    <div class="facial-card">
      <img src="~/LerayImages/basic-facial.jpg" alt="LIPO CAVITATION" class="facial-img">
      <span class="price">₱899 / Session</span>
      <h3>LIPO CAVITATION</h3>
      <p>A refreshing cleanse that revives your skin with essential care—perfect for a quick glow-up and maintenance.</p>
      <a href="/Home/Booking" class="book-btn">BOOK NOW</a>
    </div>

    <div class="facial-card">
      <img src="~/LerayImages/acne-facial.jpg" alt="RF 
 FACE CONTOURING" class="facial-img">
      <span class="price">₱999 / Session</span>
      <h3>RF FACE CONTOURING</h3>
      <p>Targets breakouts and clears impurities with deep cleansing and anti-inflammatory treatments for calmer skin.</p>
      <a href="/Home/Booking" class="book-btn">BOOK NOW</a>
    </div>

    <div class="facial-card">
      <img src="~/LerayImages/signature-facial.jpg" alt="RF ARMS AND THIGHS" class="facial-img">
      <span class="price">₱2,499 / Session</span>
      <h3>RF ARMS AND THIGHS</h3>
      <p>A luxurious multi-step facial combining premium techniques for 
 ultimate rejuvenation.</p>
      <a href="/Home/Booking" class="book-btn">BOOK NOW</a>
    </div>

    <div class="facial-card">
      <img src="~/LerayImages/pdt-light.jpg" alt="RF TUMMY" class="facial-img">
      <span class="price">₱499 / Session</span>
      <h3>RF TUMMY</h3>
      <p>A non-invasive LED therapy that calms inflammation, fights acne, and promotes cellular repair.</p>
      <a href="/Home/Booking" class="book-btn">BOOK NOW</a>
    </div>

    <div class="facial-card">
      <img src="~/LerayImages/diamond-facial.jpg" alt="MESOTHERAPY WITH FREE RF" class="facial-img">
      <span 
 class="price">₱1,999 / Session</span>
      <h3>MESOTHERAPY WITH FREE RF</h3>
      <p>An exfoliating diamond tip technology to smooth skin and enhance radiance.</p>
      <a href="/Home/Booking" class="book-btn">BOOK NOW</a>
    </div>

    <div class="facial-card">
      <img src="~/LerayImages/hydra-facial.jpg" alt="BARBIE ARMS" class="facial-img">
      <span class="price">₱1,599 / Session</span>
      <h3>BARBIE ARMS</h3>
      <p>Infuses hydration while cleansing dull or sensitive skin in need of renewal.</p>
      <a href="/Home/Booking" class="book-btn">BOOK NOW</a>
  </div>
  @section Scripts {
    <script src="~/js/Services_script.js" asp-append-version="true"></script>
}