@{
    ViewData["Title"] = "All Services";
}
  <section class="services-page container">
    <div class="services-header">
      <h2 class="section-title">Services</h2>
    </div>
    <div class="underline"></div>

    <div class="services-grid">
      <div class="service-card" onclick="window.location.href='/Home/Eyelash'">
        <img src="https://via.placeholder.com/150" alt="Eyelash Extension">
        <p>EYELASH EXTENSION</p>
      </div>
     
   <div class="service-card"onclick="window.location.href='/Home/NailCare'">
        <img src="~/Images/LerayServices/Nail.jpg" alt="Nail Care Services">
        <p>NAIL CARE SERVICES</p>
      </div>
      <div class="service-card"onclick="window.location.href='/Home/Spa'">
        <img src="https://via.placeholder.com/150" alt="Spa Services">
        <p>SPA SERVICES</p>
      </div>
      <div class="service-card"onclick="window.location.href='/Home/MicroNeedling'">
        <img src="https://via.placeholder.com/150" alt="Microneedling">
        <p>MICRONEEDLING</p>
      </div>
      
 <div class="service-card"onclick="window.location.href='/Home/SemiPermanentMakeup'">
        <img src="~/Images/LerayServices/Semi.jpg" alt="Semi-Permanent Make Up">
        <p>SEMI-PERMANENT MAKE UP</p>
      </div>
    </div>
  </section>

  <script src="~/js/Services_script.js"></script>